.vertical-space {
	padding: 10px 0 10px 0;
}
.wrap {
	word-break: break-all; word-wrap: break-word;	
}
.line {
	border-style: solid;
	border-width: 0 0 1px 0;
}
.date{
	margin: 0;
	padding-left: 0.75rem;
}
.border{
	border: 0.25px solid gray;
  	border-radius: 15px;
}
h4>a,h4>a:hover, h4>a:link, h4>a:active, h4>a:visited {
	text-decoration: none;
	color: black;
}